.icobutton {
	font-size: 3em;
	position: relative;
	margin: 0;
	padding: 0;
	color: #c0c1c3;
	border: 0;
	background: none;
	overflow: visible;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icobutton svg {
	left: 0;
}

.icobutton:hover,
.icobutton:focus {
	outline: none;
}

/* Unicorn */
.icobutton--unicorn svg {
    height: 39px;
    margin-bottom: -14px;
	fill: #ffffff;
}