certifi==2018.1.18
chardet==3.0.4
dj-database-url==0.5.0
dj-static==0.0.6
Django==1.11.11
django-model-utils==3.1.1
django-webpack-loader==0.6.0
djangorestframework==3.7.7
drf-extensions==0.3.1
idna==2.6
psycopg2==2.7.4
pytz==2018.3
requests==2.18.4
static3==0.7.0
urllib3==1.22
yapf==0.21.0
django-filter==1.1.0
django-heroku==0.3.1
gunicorn==19.7.1
djoser==1.1.5
channels==2.1.1
channels-redis==2.2.1
django-redis-cache==1.7.1
xlrd==1.1.0
pandas==0.23.0


