
@import url(../../../node_modules/react-responsive-ui/small-screen.css) (max-width: 720px);


@media (max-width: 720px) {
  /* Fullscreen `<DatePicker/>` "Close" button */
  .rrui__date-picker__close {
    font-size: 14px;
    font-weight: lighter;
    /*color: var(--accent-color);*/
  }

  /* Fullscreen `<Select/>` options */
  .rrui__select__options:not(.rrui__select__options--autocomplete) {
    font-size: 44px;
  }

  /* Fullscreen `<Select/>`s and `<DatePicker/>`s `z-index`es */
  .rrui__select__options:not(.rrui__select__options--autocomplete),
  .rrui__date-picker__collapsible {
    z-index: 1000;
  }

  /* Fullscreen `<Select/>` "Close" button */
  .rrui__select__close {
    z-index: 1000;
  }

  /* Fullscreen `<Modal/>` content padding */
  .rrui__modal__content-body {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 3px;
  }
  .rrui__input {
    height : 40px;
  }
  .rrui__input--multiline {
    height : auto;
  }
  .rrui__input-field {
    border-bottom : 1px solid blue;
  }
  .rrui__input-field--invalid {
    border-color : red;
}
}

/* Fullscreen `<Select/>` options */
    /*
@media (max-width: 720px) {

    .rrui__select__options:not(.rrui__select__options--autocomplete) {
        font-size: 22px;
    }
}
*/

body {
    background-color: #e0e0e0 !important;
}

.formField {
    margin-top: 10px;
}